@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.cdnfonts.com/css/exton-free-trial');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('http://fonts.cdnfonts.com/css/goma-octagon');
@import url('http://fonts.cdnfonts.com/css/monument-extended?styles=28544,28545');

/*CSS Reset*/

html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    width: 100%;
    /*scroll-padding-top: calc(4.5rem - 1px);*/
    /*overflow-x: hidden;*/
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    /*margin: 0;*/
    /*padding: 0;*/
    max-width: 100%;
}

body {
    /*background: url("../images/background-693-1024.png");*/
    background-color: #1E2235;
    background-size: cover;
    font-weight: normal;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}


ol, ul {
    list-style: none;
}

img {
    /*width: 100vw;*/
    max-width: 100%;
    height: auto;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    /*background-color: rgba(2, 14, 28, 0.5);*/
    height: 6.25rem;
}

#navbar.navbar-shrink {
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);*/
    background-color: rgba(255, 255, 255, 5%);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(253, 163, 30)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: yellow;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
    color: transparent;
}

.nav-link {
    font-family: "Readex Pro", sans-serif;
}

a.dropdown-item {
    font-family: "Segoe UI", sans-serif;
}

.topnav li .active {
    border-bottom: 8px solid #97D4FC;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transition: none;
    padding: 8px;
}

section#hero {
    background-image: url("../images/bg-hero.png");
    background-size: cover;
    /*transform: translateY(1rem);*/
}

section#hero .hero-img {
    /*left: 1000px;*/
    /*top: 800px;*/
    /*top: 10vw;*/
    transform: translate(-50%, 5%);
}

.intro-title {
    /*font-family: "Monument Extended", serif;*/
    font-family: "Monument Extended", sans-serif;
    font-style: normal;
    color: #FFFFFF;
    /*font-weight: 800;*/
    font-size: 3.375rem;
    line-height: 65px;
}

.intro-title p {
    /*font-family: "Monument Extended Bold", sans-serif;*/
    font-weight: 800;

}

@media screen and (max-width: 575px) {
    /*html, body {*/
    /*    overflow-x: hidden;*/
    /*}*/
    header.masthead {
        position: relative;
        overflow: hidden;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
    }

    header video {
        /*object-fit: cover;*/
        position: absolute;
        top: 50%;
        left: 50%;
        /*bottom: 0;*/
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    header.masthead > div > div > p {
        font-family: "Exton Free Trial", monospace;
        /*font-size: 4rem;*/
        font-size: 150%;
    }

    header.masthead .header-title {
        top: 22rem;
        /*left: 1rem;*/
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    header #playnow {
        width: 8em;
    }

    section.page-section div.button-section {
        width: auto;
        height: 1.5rem;
        align-self: center;
    }

    section#faq span.faq1 {
        width: 100%;
    }

    section#faq div.white-ruler {
        width: 0;
    }

    .carousel-inner {
        width: 100%;
    }

    section.page-section#features .subtitle {
        font-family: Montserrat, sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
    }

    section.page-section#features .content {
        font-family: Montserrat, sans-serif;
        font-size: 0.75rem;
    }

    .char-title {
        font-family: Montserrat, sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .char-desc {
        font-family: Montserrat, sans-serif;
        font-size: 0.75rem;
        text-indent: 18px;
    }

    .carousel .charbox {
        width: 6.225rem;
        height: 1.6rem;
        background-color: #9685f2;
        border-radius: 2px;
    }

    button.btn {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: white;
        font-size: 0.75rem;
        text-underline: none;
        letter-spacing: 1px;
        box-shadow: yellow;
    }

    section#faq span.faq {
        font-family: Montserrat, sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }

    section#faq i.faq-arrow {
        font-size: 1.5rem;
    }

    section#faq div.faq-question {
        font-family: Montserrat, sans-serif;
        font-size: 0.625rem;
        font-weight: bold;
    }

    section#faq div.faq-content {
        font-family: "Segoe UI", sans-serif;
        font-size: 0.625rem;
        line-height: 13.5px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 16px;
    }
}

/*Medium display 576px - 767px*/
@media screen and (min-width: 576px) {

    .nav-link {
        /*font-size: 1rem;*/
    }

    a.dropdown-item {
        font-size: 1.125rem;
    }

    header.masthead {
        position: relative;
        overflow: hidden;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
    }

    header video {
        /*object-fit: cover;*/
        position: absolute;
        top: 50%;
        left: 50%;
        /*bottom: 0;*/
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    header.masthead .header-title {
        /*top: 22rem;*/
        top: 40%;
        /*left: 1rem;*/
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    header #playnow {
        width: 16em;
    }

    section#faq span {
        /*white-space: nowrap;*/
    }

    section#faq span.faq1 {
        width: 100%;
    }

    section#faq div.white-ruler {
        /*width: 100%;*/
        width: auto;
    }

    .carousel-inner {
        width: 100%;
    }

    section.page-section#features .subtitle {
        font-family: Montserrat, sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
    }

    section.page-section#features .content {
        font-family: Montserrat, sans-serif;
        font-size: 0.75rem;
    }

    .carousel .charbox {
        width: 9.375rem;
        height: 2.3rem;
        background-color: #9685f2;
        border-radius: 2px;
    }

    button.btn {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: white;
        font-size: 1.125rem;
        text-underline: none;
        letter-spacing: 1px;
    }

    section#faq span.faq {
        font-family: Montserrat, sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
    }

    section#faq i.faq-arrow {
        font-size: 2.25rem;
    }

    section#faq div.faq-question {
        font-family: Montserrat, sans-serif;
        font-size: 0.9375rem;
        font-weight: bold;
    }

    section#faq div.faq-content {
        font-family: "Segoe UI", sans-serif;
        font-size: 0.9375rem;
        line-height: 20px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 16px;
    }
}

@media screen and (min-width: 992px) {
    header.masthead > div > div > p {
        font-family: "Exton Free Trial", monospace;
        font-size: 5rem;
    }

    header.masthead {
        position: relative;
        overflow: hidden;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
    }

    header.masthead .header-title {
        /*bottom: 2rem;*/
        /*left: 1rem;*/
        /*top: 40rem;*/
        top: 55%;
        /*left: 8rem;*/
        left: 10%;
        /*left: 0;*/
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    header #playnow {
        width: 19em;
    }

    header video {
        /*object-fit: cover;*/
        position: absolute;
        top: 50%;
        left: 50%;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    section#faq span {
        white-space: nowrap;
    }

    section#faq span.faq1 {
        width: auto;
    }

    section#faq div.white-ruler {
        width: 100%;
        /*width: auto;*/
    }

    .carousel-inner {
        width: 70%;
    }

    section.page-section#features .subtitle {
        font-family: Montserrat, sans-serif;
        font-size: 2.25rem;
        font-weight: bold;
    }

    section.page-section#features .content {
        font-family: Montserrat, sans-serif;
        font-size: 1.125rem;
    }

    .char-title {
        font-family: Montserrat, sans-serif;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 4px;
    }

    .char-desc {
        font-family: Montserrat, sans-serif;
        font-size: 1rem;
        text-indent: 24px;
    }

    .carousel .charbox {
        width: 12.5rem;
        height: 3.125rem;
        background-color: #9685f2;
        border-radius: 2px;
    }


    button.btn {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: white;
        font-size: 1.5rem;
        text-underline: none;
        letter-spacing: 2px;
    }

    section#faq span.faq {
        font-family: Montserrat, sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }

    section#faq i.faq-arrow {
        font-size: 3rem;
    }

    section#faq div.faq-question {
        font-family: Montserrat, sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
    }

    section#faq div.faq-content {
        font-family: "Segoe UI", sans-serif;
        font-size: 1.25rem;
        line-height: 27px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 16px;
    }
}


header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(8, 27, 11, 0.3);
    z-index: 2;
    /*opacity: 0.5;*/
    /*z-index: 1;*/
}

header {
    /*background-image: url("../images/bg-hero.png");*/
    /*background-size: cover;*/
}

header.masthead > div > div > p {
    /*font-family: "Exton Free Trial", monospace;*/
    /*font-size: 3.75rem;*/
    /*font-size: 4.5vw;*/
}

/*Full Width Video CSS End*/

header.masthead h1, header.masthead .h1 {
    /*font-size: 2.25rem;*/
}


/*section.page-section {*/
/*    padding-top: 90px;*/
/*}*/


section.page-section {
    /*width: 100vw;*/
    /*max-width: 100%;*/
}

section#overview div.container {
    max-width: 1560px;
}

section.page-section#overview {
    background-image: url("../images/overview-background.png");
    background-color: rgba(0, 0, 255, 0.1);
    /*opacity: 40%;*/
    background-size: cover;
}

section.page-section#overview p.what-is {
    font-family: "Lato Black", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.1em;
}

section.page-section#overview p.why-chronofi {
    font-family: "Lato Black", sans-serif;
    font-size: 18px;
    /*letter-spacing: 2em;*/
}

section.page-section#overview p {
    font-family: "Lato Black", sans-serif;
    font-size: 20px;
}

section.page-section#features {
    background-image: url("../images/background-gamemodes.png");
    background-color: rgba(0, 0, 255, 0.1);
    /*opacity: 40%;*/
    background-size: cover;
}

/*Characters Carousel*/
.carousel /*slider */
{
    position: relative;
}

.carousel .carousel-item {
    transition: none;
    /*position: relative;*/
}

.carousel .carousel-indicators /* indicator wrapper*/
{
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    display: flex; /* this is for indicators  */
}

.carousel-indicators [data-bs-target] {
    text-indent: 0;
}

#headcarousel_container .carousel-indicators li /* indicators*/
{
    flex-grow: 1; /* make all indicator li similarly stretched */
    height: 40px;
    border-radius: 2px;
}

#charscarousel .carousel-indicators button.active {
    /*background-color: rgba(251, 222, 87, 0.5); !* changes indicators color when it is active*!*/
    background-color: #4A3071;
}

.carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel .charbox:hover {
    background-color: #B687FF;
    border-radius: 2px;
}

button.btn:hover {
    color: white;
    text-underline: none;
}

.btn-check:focus + .btn, .btn:focus {
    box-shadow: none;
}

.carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
}

/*Characters Carousel end*/

section.page-section#roadmap {
    background-image: url("../images/background-roadmap.png");
    background-color: rgba(0, 0, 255, 0.1);
    /*opacity: 40%;*/
    background-size: cover;
}

#svg-roadmap {
    margin: 0 auto;
}

section#features div.inner {
    top: 0;
}

section#features div.inner img {
    top: -50%;
}

section#features img.text-box {
    /*width: 315px;*/
    /*height: 325px;*/
    /*object-fit: none;*/
}

section#features div img.spin {
    animation: spin 0.75s infinite linear;
}

.text-team {
    font-family: Montserrat, sans-serif;
    color: #97D4FC;
}

.text-team .text-team-0 {
    font-size: 1.75rem;
    font-weight: bolder;
}

.text-team .text-team-1 {
    font-size: 1.5rem;
}

#teaser {
    width: 1040px;
    height: auto;
}

.chronofitext {
    color: #FDA31E;
}

figure {
    position: relative
}

figcaption {
    position: absolute;
    /*width: 200px;*/
    line-height: 150px;
    text-align: center;
    left: 150px;
    top: -25px;
    /*text-shadow: 0 0 1px white;*/
    font-size: 24px;
    /*font-weight:bold;*/
}

.container-image {
    border: solid red 2px;
    width: 1090px;
    height: auto;
    align-self: center;
    place-content: center;
}

.full-width-image {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

.full-width-image img {
    width: 100%;
}

section#advisor div.advisor {
    width: 12.5em;
}

section#faq {
    background-image: url("../images/background-faq.png");
    background-color: rgba(0, 0, 255, 0.1);
    /*background-size: cover;*/
    background-size: auto;
}

section#contact p {
    font-family: Iceland, sans-serif;
    font-size: 2.375rem;
}

.accordion-header {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    padding: 0;
    /*height: auto;*/
}

.accordion-button {
    /*width: 20%;*/
    width: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

.accordion-button:not(.collapsed):after {
    background-image: url("../images/caret-down-solid-white.svg");
    margin-left: 2rem;
    height: 2rem;
    transform: none;
    padding: 0;
}

.accordion-button.collapsed:after {
    background-image: url("../images/caret-right-solid-white.svg");
    margin-left: 2rem;
    height: 2rem;
    padding: 0;
}

footer#footer div.container-fluid {
    max-width: 80em;
}

#logo {
    margin-top: 25px;
    margin-left: 140px;
    margin-bottom: 25px;
    float: left;
}

footer#footer div.logo {
    width: 10.5em;
}

footer#footer {
    background-image: linear-gradient(#010911, #05172d);
}

#footer p {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    /*line-height: ;*/
}

footer div.coming-soon {
    background-color: #002550;
}

footer div.coming-soon p.coming-soon-title {
    font-family: "Voice Activated BB", sans-serif;
    font-size: 20px;
    color: white;
}

footer div.coming-soon p.coming-soon-content {
    font-family: "Voice Activated BB", sans-serif;
    font-size: 12px;
    color: white;
}

footer div.coming-soon div#invest {
    background-color: #001834;
    font-family: "Voice Activated BB", sans-serif;
    font-size: 12px;
    color: white;
}

.copyright {
    /*width: 100vw;*/
    /*max-width: 100%;*/
    /*background-color: black;*/
    height: 71px;
}

.copyright p {
    font-family: Montserrat, sans-serif;
    color: white;
    font-size: 1.25rem;
}

/*a.icon:hover {*/
/*    background-color: #FDA31E;*/
/*}*/

a.socmed-icon:hover {
    transform: scale(1.1);
}