@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://fonts.cdnfonts.com/css/monument-extended?styles=28544,28545');

/*CSS Reset*/

html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    /*margin: 0;*/
    /*padding: 0;*/
    max-width: 100%;
}

body {
    /*background: url("../images/background-693-1024.png");*/
    background-color: #1E2235;
    background-size: cover;
    font-weight: normal;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1110px;
}

.d-flex {
    /*display: -webkit-flex !important;*/
    display: flex !important;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}


ol, ul {
    list-style: none;
}

img {
    /*width: 100vw;*/
    max-width: 100%;
    height: auto;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    /*background-color: rgba(2, 14, 28, 0.5);*/
    /*height: 6.25rem;*/
}

#navbar {
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);*/
    background-color: rgba(255, 255, 255, 5%);
}

#navbar.navbar-shrink {
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);*/
    /*background-color: rgba(255, 255, 255, 5%);*/
    background-color: rgba(30, 34, 53, 95%);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /*color: yellow;*/
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
    color: transparent;
    padding: 0;
}

/*.fixed-top {*/

/*}*/

.nav-link {
    font-family: "Readex Pro", sans-serif;
}

a.dropdown-item {
    font-family: "Segoe UI", sans-serif;
}

.topnav li .active {
    border-bottom: 8px solid #97D4FC;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transition: none;
    padding: 8px;
}

section#hero {
    background-image: url("../images/bg-hero-1920-resize.png");
    background-size: cover;
    /*transform: translateY(1rem);*/
    /*height: 90vw;*/
}

section#hero .hero-img {
    /*left: 1000px;*/
    /*top: 800px;*/
    /*top: 10vw;*/
    transform: translate(-50%, 5%);
}


.p-outline {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

section#features .container {
    /*background: url("../images/bg-features.png");*/
    /*background-size: cover;*/
}

.section-title {
    background: #ff4aab;
    /*border: 2px solid #ff4aab;*/
    padding: 10px;
    border-radius: 50px;
}

.section-title p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    /* identical to box height, or 104% */

    letter-spacing: 0.005em;

}

.logo-partner {
    height: auto;
    max-height: 6.75rem;
    width: auto;
    max-width: 20rem
}

@media screen and (max-width: 575px) {
    #navbar {
        height: 4.6875rem;
    }

    section#hero {
        height: 90vw;
    }

    section#hero .hero-img {
        /*left: 1000px;*/
        /*top: 800px;*/
        /*top: 10vw;*/
        width: 85vw;
        transform: translate(-50%, 5%);
        margin-top: 5rem;
    }

    .badge-icon {
        display: none !important;
    }

    .container-intro {
        margin-top: 4rem;
    }

    .intro-title {
        /*font-family: "Monument Extended", serif;*/
        font-family: "Monument Extended", sans-serif;
        font-style: normal;
        color: #FFFFFF;
        /*font-weight: 800;*/
        font-size: 1.5rem;
        line-height: 28.8px;
    }

    .intro-title p {
        /*font-family: "Monument Extended Bold", sans-serif;*/
        font-weight: 800;

    }

    .intro-desc {
        /*font-family: "Monument Extended", sans-serif;*/
        font-family: "Readex Pro", sans-serif;
        width: 34.75rem;
        font-style: normal;
        color: #FFFFFF;
        /*font-weight: 400;*/
        font-size: 1.25rem;
        line-height: 20px;
    }

    .intro-desc p {
        font-weight: 400;
    }

    .mockup-intro {
        /*height: auto;*/
        /*z-index: -1;*/
        /*top: -800px;*/
    }

    section#features {
        /*margin-top: -2.5rem;*/
        /*background: url("../images/bg-features-noline.png");*/
        background-size: 98vw 100%;
        background-position: center;
        background-repeat: no-repeat;
    }


    .features-title {
        font-family: "Monument Extended", sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 29px;
    }

    .features-desc {
        font-family: "Readex Pro", sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 20px;
    }

    .features-social-fi {
        font-family: 'Readex Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;
        /* or 150% */
        letter-spacing: 0.5px;
    }

    .features-text-icon {
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 22px;
        color: #FFFFFF;
    }

    .desktop-image {
        display: none;
    }

    .btn-grp {
        display: block;
    }

    .hidden {
        display: block;
    }

    .slider {
        /*left: -190px !important;*/
    }

    section#mockup h1 {
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 2.25rem;
        line-height: 43px;
        color: #FFFFFF;
    }

    section#mockup h1 span.h1-outline {
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .partner-container {
        margin-bottom: 160px;
    }
}

/*Medium display 576px - 767px*/
@media screen and (min-width: 576px) {
    #navbar {
        height: 6.25rem;
    }

    section#hero {
        height: 90vw;
    }

    section#hero .hero-img {
        /*left: 1000px;*/
        /*top: 800px;*/
        /*top: 10vw;*/
        width: 85vw;
        transform: translate(-50%, 5%);
        margin-top: 5rem;
    }

    .container-intro {
        margin-top: 4rem;
    }

    .intro-title {
        /*font-family: "Monument Extended", serif;*/
        font-family: "Monument Extended", sans-serif;
        font-style: normal;
        color: #FFFFFF;
        /*font-weight: 800;*/
        font-size: 1.5rem;
        line-height: 28.8px;
    }

    .intro-title p {
        /*font-family: "Monument Extended Bold", sans-serif;*/
        font-weight: 800;

    }

    .intro-desc {
        /*font-family: "Monument Extended", sans-serif;*/
        font-family: "Readex Pro", sans-serif;
        width: 34.75rem;
        font-style: normal;
        color: #FFFFFF;
        /*font-weight: 400;*/
        font-size: 1.25rem;
        line-height: 20px;
    }

    .intro-desc p {
        font-weight: 400;
    }

    section#features {
        /*margin-top: -2.5rem;*/
        /*background: url("../images/bg-features-noline.png");*/
        background-size: cover;
        background-repeat: no-repeat;
    }

    .features-title {
        font-family: "Monument Extended", sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 29px;
    }

    .features-desc {
        font-family: "Readex Pro", sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 20px;
    }

    .features-social-fi {
        font-family: 'Readex Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;
        /* or 150% */
        letter-spacing: 0.5px;
    }

    .features-text-icon {
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 22px;
        color: #FFFFFF;
    }

    .desktop-image {
        display: none;
    }

    .btn-grp {
        display: block;
    }

    .hidden {
        display: block;
    }

    section#mockup h1 {
        /*width: 45vw;*/
        width: 49rem;
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 4rem;
        line-height: 77px;
        color: #FFFFFF;
    }

    section#mockup h1 span.h1-outline {
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .partner-container {
        margin-bottom: 160px;
    }
}

@media screen and (min-width: 992px) {
    #navbar {
        height: 6.25rem;
    }

    section#hero {
        height: 75vw;
    }


    section#hero .hero-img {
        /*position: relative;*/
        /*left: 1000px;*/
        /*top: 800px;*/
        /*top: 10vw;*/
        /*top: 50%;*/
        /*left: -50%;*/
        width: 70vw;
        /*transform: translate(-50%, 5%);*/
    }

    .container-intro {
        margin-top: -5rem;
    }

    .intro-title {
        /*font-family: "Monument Extended", serif;*/
        font-family: "Monument Extended", sans-serif;
        font-style: normal;
        color: #FFFFFF;
        /*font-weight: 800;*/
        font-size: 3.375rem;
        line-height: 65px;
    }

    .intro-title p {
        /*font-family: "Monument Extended Bold", sans-serif;*/
        font-weight: 800;

    }

    .intro-desc {
        /*font-family: "Monument Extended", sans-serif;*/
        font-family: "Readex Pro", sans-serif;
        width: 34.75rem;
        font-style: normal;
        color: #FFFFFF;
        /*font-weight: 400;*/
        font-size: 1rem;
        line-height: 24px;
    }

    .intro-desc p {
        font-weight: 400;
    }

    .slider {
        left: 0 !important;
    }

    .mockup-intro {
        position: relative;
        /*background-color: white;*/
        height: auto;
        z-index: -1;
        /*top: -800px;*/
        left: 500px;
        bottom: 150px;
    }

    section#features {
        margin-top: -15rem;
        /*background: url("../images/bg-features-noline.png");*/
        background: url("../images/bg-features.svg");
        /*background-size: 85rem auto ;*/
        background-size: 95vw auto;
        background-repeat: no-repeat;
        background-position-x: center;

    }

    .features-title {
        font-family: "Monument Extended", sans-serif;
        font-weight: 800;
        font-size: 1.75rem;
        line-height: 29px;
    }

    .features-desc {
        font-family: "Readex Pro", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 20px;
    }

    .features-social-fi {
        width: 88%;
        font-family: 'Readex Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 24px;
        /* or 150% */
        letter-spacing: 0.5px;
    }

    .features-text-icon {
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 22px;
        color: #FFFFFF;
    }

    .mobile-image {
        display: none;
    }

    .desktop-image {
        display: block;
    }

    .hidden {
        display: none;
    }

    section#partnership {
        margin-bottom: 30rem;
    }

    section#mockup h1 {
        /*width: 45vw;*/
        width: 49rem;
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 4rem;
        line-height: 77px;
        color: #FFFFFF;
    }

    section#mockup h1 span.h1-outline {
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .footer-mockup {
        /*position: relative;*/
        /*top: 190%;*/
        bottom: 600px;
        left: 44%;
        /*transform: translate(-50%, -50%);*/
        /*margin-bottom: -1500px;*/
        margin-top: -550px;
        margin-left: 40%;
    }

    .footer {
        margin-top: -100px;
    }
}


header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(8, 27, 11, 0.3);
    z-index: 2;
    /*opacity: 0.5;*/
    /*z-index: 1;*/
}

header {
    /*background-image: url("../images/bg-hero.png");*/
    /*background-size: cover;*/
}

/*Full Width Video CSS End*/

.trailer-container {
    /*width: 1088px;*/
    /*height: auto;*/
    padding-bottom: 56.25%;
    padding-top: 30px
}

.trailer-container iframe {
    position: absolute;
    top: 0;
    left: 0;
}

video {

    z-index: -1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


section#roadmap {
    background: url("../images/bg-roadmap.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/*Roadmap*/
.btn-grp {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 100;
}

.btn-grp .left {
    left: 10px;
}

.btn-grp .right {
    right: 10px;
}

.btn-grp .left, .btn-grp .right {
    position: absolute;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-events {
    position: absolute;
    top: 40px;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
}

.timeline-events li {
    position: relative;
    display: inline-block;
}

.timeline-events li:before {
    position: absolute;
    left: 0;
    bottom: -36px;
    height: 8px;
    border-radius: 8px;
    content: "";
}

.timeline-events li:first-child {
    bottom: 0;
}

.timeline-event-years-4-5, .timeline-event-years-4-5:before {
    width: 450px;
}

@media (max-width: 1149px) {
    .timeline-event-years-4-5, .timeline-event-years-4-5:before {
        width: 60px;
    }
}

@media (max-width: 1363px) {
    .timeline-event-years-4-5, .timeline-event-years-4-5:before {
        width: 250px;
    }
}

.timeline-event-legend {
    position: relative;
}

.timeline-event-legend > i {
    bottom: -32px;
    right: -12px;
}

.timeline-event-legend > i:after {
    left: -4px;
    bottom: -12px;
}

.timeline-event-legend i, .timeline-event-legend i:after {
    position: absolute;
    width: 0;
    height: 0;
}

.timeline-event-legend i:after {
    content: "";
}

.timeline-events li:first-child:before {
    background: #ff4aab;
    /*background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmMGYwZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MyZTM0ZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");*/
    background-size: 100%;
    background-image: linear-gradient(90deg, #1E2235 0, #ff4aab);
    border-radius: 0 6px 6px 0;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

/*.ezcwRl svg {*/
/*    height: 22px;*/
/*    color: white;*/
/*    fill: white;*/
/*    animation-iteration-count: infinite;*/
/*    animation-timing-function: linear;*/
/*}*/

/*audio, canvas, embed, iframe, img, object, svg, video {*/
/*    display: block;*/
/*    vertical-align: middle;*/
/*}*/

.timeline-events h2 {
    font-family: "Readex Pro", serif;
    font-style: normal;
    font-weight: 700;
    color: #ff4aab;
    font-size: 1.375rem;
    /*line-height: 28px;*/
    margin-bottom: 1.5rem;
}

.timeline-events h3 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 15px;
    /* or 143% */
    letter-spacing: 0.25px;
    color: #FFFFFF;
    margin-bottom: 0.5rem;
}

.timeline-event-years-2, .timeline-event-years-2:before {
    width: 200px;
}

/*.timeline-events h2, .timeline-events h3, .timeline-events h4 {*/
/*    margin: 0 0 1px;*/
/*    font-weight: 400;*/
/*    font-size: 11px;*/
/*}*/

/*Phase 1*/
.timeline-events li:nth-child(2) {
    bottom: 16px;
}

.timeline-events li:nth-child(2):before {
    background: #ff4aab;
}

/*Phase 2*/
.timeline-events li:nth-child(3) {
    bottom: 32px;
}

.timeline-events li:nth-child(3):before {
    background: #ff4aab;
}

/*Phase 3*/
.timeline-events li:nth-child(4) {
    bottom: 48px;
}

.timeline-event-years-2-5, .timeline-event-years-2-5:before {
    width: 250px;
}

.timeline-events li:nth-child(4):before {
    background: #ff4aab;
}

.timeline-event-years-2-5, .timeline-event-years-2-5:before {
    width: 250px;
}

/*Phase 4*/
.timeline-events li:nth-child(5) {
    bottom: 64px;
}

.timeline-event-years-7, .timeline-event-years-7:before {
    width: 700px;
}

.timeline-events li:nth-child(5):before {
    background: #ff4aab;
    background-size: 100%;
    background-image: linear-gradient(90deg, #ff4aab 0, #1E2235);
    border-radius: 6px 0 0 6px;
}

@media (max-width: 1149px) {
    .timelines-years {
        left: -410px;
    }
}

@media (max-width: 1363px) {
    .timelines-years {
        left: -200px;
    }
}

.timelines-years {
    position: absolute;
    bottom: 0;
    padding: 0 0 0 200px;
    margin: 0;
    white-space: nowrap;
    border-top: 1px solid #282828;
    list-style: none;
    font-size: 0;
}

.timelines-years li {
    position: relative;
    top: -6px;
    display: inline-block;
    width: 200px;
    color: #868686;
    font-size: 11px;
    line-height: 11px;
    text-indent: -12px;
}

/*Roadmap End*/
section#mockup {
    background: url("../images/bg-footer.png");
    background-size: cover;
}

section#mockup h1 span.h1-outline {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.footer {
    font-family: "Readex Pro", sans-serif;

}

a.socmed-icon:hover {
    transform: scale(1.1);
}