@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://fonts.cdnfonts.com/css/monument-extended?styles=28544,28545');

/*CSS Reset*/
html {
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
}

body {
    background-color: #1E2235;
    background-size: cover;
    font-weight: normal;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1110px;
}

.d-flex {
    display: flex !important;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}


ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.bd-navbar {
    background-color: rgba(255, 255, 255, 5%);
}

.logo-brand {
    width: 4rem;
    height: auto;
}

.navbar-shrink {
    background-color: rgba(30, 34, 53, .95);
}

.navbar-toggler {
    border-color: transparent!important;
    color: transparent;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    font-family: "Readex Pro", sans-serif;
}

a.dropdown-item {
    font-family: "Segoe UI", sans-serif;
}

.topnav li .active {
    border-bottom: 8px solid #97D4FC;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transition: none;
    padding: 8px;
}

section#hero {
    background-image: url("../images/bg-hero-1920-resize.png");
    background-size: cover;
}

section#hero .hero-img {
    transform: translate(-50%, 5%);
}


.p-outline {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.section-title {
    background: #ff4aab;
    padding: 10px;
    border-radius: 50px;
}

.section-title p {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.005em;

}

.logo-partner {
    height: auto;
    max-height: 6.75rem;
    width: auto;
    max-width: 20rem
}

.gradient-box {
    border: 0.125rem solid transparent;
    border-radius: 16px;
    background: linear-gradient(269.04deg, rgba(49, 49, 73, 1) -7.65%, rgba(49, 49, 73, 0) 81.5%) padding-box,
    linear-gradient(256.13deg, rgba(255, 255, 255, 0.5) -47.43%, rgba(255, 255, 255, 0) 60.88%) border-box;
}


.teams__name-box {
    background: #9474FF;
    border-radius: .5rem;
}

.teams__name {
    font-family: "Monument Extended", sans-serif;
    font-weight: 800;
    line-height: 43px;
    font-size: 2.25rem;
}

.teams__role {
    font-family: "Readex Pro", sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 1.125rem;
}

.teams__desc {
    font-family: Readex Pro, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
}

@media screen and (max-width: 575px) {
    section#hero {
        height: 90vw;
    }

    section#hero .hero-img {
        width: 85vw;
        transform: translate(-50%, 5%);
        margin-top: 5rem;
    }

    .badge-icon {
        display: none !important;
    }

    .container-intro {
        margin-top: 4rem;
    }

    .intro-title {
        font-family: "Monument Extended", sans-serif;
        font-style: normal;
        color: #FFFFFF;
        font-size: 1.5rem;
        line-height: 28.8px;
    }

    .intro-title p {
        font-weight: 800;
    }

    .intro-desc {
        font-family: "Readex Pro", sans-serif;
        width: 34.75rem;
        font-style: normal;
        color: #FFFFFF;
        font-size: 1.25rem;
        line-height: 20px;
    }

    .intro-desc p {
        font-weight: 400;
    }

    section#features {
        background-size: 98vw 100%;
        background-position: center;
        background-repeat: no-repeat;
    }


    .features-title {
        font-family: "Monument Extended", sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 29px;
    }

    .features-desc {
        font-family: "Readex Pro", sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 20px;
    }

    .features-social-fi {
        font-family: 'Readex Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    .features-text-icon {
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 22px;
        color: #FFFFFF;
    }

    .teams__name-box {
        background: #9474FF;
        border-radius: .5rem;
    }

    .teams__name {
        font-family: Monument Extended, sans-serif;
        font-size: 1rem;
        font-weight: 800;
        line-height: 29px;
    }

    .teams__role {
        font-family: "Readex Pro", sans-serif;
        font-weight: 700;
        line-height: 12px;
        font-size: 0.6rem;
    }

    .teams__desc {
        font-family: Readex Pro, sans-serif;
        font-size: 0.5rem;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0.03rem;
    }

    .desktop-image {
        display: none;
    }

    .btn-grp {
        display: block;
    }

    .hidden {
        display: block;
    }

    section#mockup h1 {
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 2.25rem;
        line-height: 43px;
        color: #FFFFFF;
    }

    section#mockup h1 span.h1-outline {
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .partner-container {
        margin-bottom: 160px;
    }
}

/*Medium display 576px - 767px*/
@media screen and (min-width: 576px) {
    section#hero {
        height: 90vw;
    }

    section#hero .hero-img {
        width: 85vw;
        transform: translate(-50%, 5%);
        margin-top: 5rem;
    }

    .container-intro {
        margin-top: 4rem;
    }

    .intro-title {
        font-family: "Monument Extended", sans-serif;
        font-style: normal;
        color: #FFFFFF;
        font-size: 1.5rem;
        line-height: 28.8px;
    }

    .intro-title p {
        font-weight: 800;
    }

    .intro-desc {
        font-family: "Readex Pro", sans-serif;
        width: 34.75rem;
        font-style: normal;
        color: #FFFFFF;
        font-size: 1.25rem;
        line-height: 20px;
    }

    .intro-desc p {
        font-weight: 400;
    }

    section#features {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .features-title {
        font-family: "Monument Extended", sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 29px;
    }

    .features-desc {
        font-family: "Readex Pro", sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 20px;
    }

    .features-social-fi {
        font-family: 'Readex Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    .features-text-icon {
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 22px;
        color: #FFFFFF;
    }

    .desktop-image {
        display: none;
    }

    .btn-grp {
        display: block;
    }

    .hidden {
        display: block;
    }

    section#mockup h1 {
        width: 49rem;
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 4rem;
        line-height: 77px;
        color: #FFFFFF;
    }

    section#mockup h1 span.h1-outline {
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .partner-container {
        margin-bottom: 160px;
    }
}

@media screen and (min-width: 992px) {
    section#hero {
        height: 75vw;
    }


    section#hero .hero-img {
        width: 70vw;
    }

    .container-intro {
        margin-top: -5rem;
    }

    .intro-title {
        font-family: "Monument Extended", sans-serif;
        font-style: normal;
        color: #FFFFFF;
        font-size: 3.375rem;
        line-height: 65px;
    }

    .intro-title p {
        font-weight: 800;
    }

    .intro-desc {
        font-family: "Readex Pro", sans-serif;
        width: 34.75rem;
        font-style: normal;
        color: #FFFFFF;
        font-size: 1rem;
        line-height: 24px;
    }

    .intro-desc p {
        font-weight: 400;
    }

    .slider {
        left: 0 !important;
    }

    .mockup-intro {
        position: relative;
        height: auto;
        z-index: -1;
        left: 500px;
        bottom: 150px;
    }

    section#features {
        margin-top: -15rem;
        background: url("../images/bg-features.svg");
        background-size: 95vw auto;
        background-repeat: no-repeat;
        background-position-x: center;

    }

    .features-title {
        font-family: "Monument Extended", sans-serif;
        font-weight: 800;
        font-size: 1.75rem;
        line-height: 29px;
    }

    .features-desc {
        font-family: "Readex Pro", sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 20px;
    }

    .features-social-fi {
        width: 88%;
        font-family: 'Readex Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    .features-text-icon {
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 22px;
        color: #FFFFFF;
    }

    .teams__name-box {
        background: #9474FF;
        border-radius: .5rem;
    }

    .teams__name {
        font-family: "Monument Extended", sans-serif;
        font-weight: 800;
        line-height: 43px;
        font-size: 2.25rem;
    }

    .teams__role {
        font-family: "Readex Pro", sans-serif;
        font-weight: 700;
        line-height: 24px;
        font-size: 1.125rem;
    }

    .teams__desc {
        font-family: Readex Pro, sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 1px;
    }

    .mobile-image {
        display: none;
    }

    .desktop-image {
        display: block;
    }

    .hidden {
        display: none;
    }

    section#teams {
        margin-bottom: 25rem;
    }

    section#mockup h1 {
        width: 49rem;
        font-family: 'Monument Extended', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 4rem;
        line-height: 77px;
        color: #FFFFFF;
    }

    section#mockup h1 span.h1-outline {
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .footer-mockup {
        bottom: 600px;
        left: 44%;
        margin-top: -550px;
        margin-left: 40%;
    }

    .footer {
        margin-top: -100px;
    }
}


header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(8, 27, 11, 0.3);
    z-index: 2;
}

/*Full Width Video CSS End*/

.trailer-container {
    padding-bottom: 56.25%;
    padding-top: 30px
}

.trailer-container iframe {
    position: absolute;
    top: 0;
    left: 0;
}

video {

    z-index: -1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


section#roadmap {
    background: url("../images/bg-roadmap.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/*Roadmap*/
.btn-grp {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 100;
}

.btn-grp .left {
    left: 10px;
}

.btn-grp .right {
    right: 10px;
}

.btn-grp .left, .btn-grp .right {
    position: absolute;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-events {
    position: absolute;
    top: 40px;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    font-size: 0;
}

.timeline-events li {
    position: relative;
    display: inline-block;
}

.timeline-events li:before {
    position: absolute;
    left: 0;
    bottom: -36px;
    height: 8px;
    border-radius: 8px;
    content: "";
}

.timeline-events li:first-child {
    bottom: 0;
}

.timeline-event-years-4-5, .timeline-event-years-4-5:before {
    width: 450px;
}

@media (max-width: 1149px) {
    .timeline-event-years-4-5, .timeline-event-years-4-5:before {
        width: 60px;
    }
}

@media (max-width: 1363px) {
    .timeline-event-years-4-5, .timeline-event-years-4-5:before {
        width: 250px;
    }
}

.timeline-event-legend {
    position: relative;
}

.timeline-event-legend > i {
    bottom: -32px;
    right: -12px;
}

.timeline-event-legend > i:after {
    left: -4px;
    bottom: -12px;
}

.timeline-event-legend i, .timeline-event-legend i:after {
    position: absolute;
    width: 0;
    height: 0;
}

.timeline-event-legend i:after {
    content: "";
}

.timeline-events li:first-child:before {
    background: #ff4aab;
    background-size: 100%;
    background-image: linear-gradient(90deg, #1E2235 0, #ff4aab);
    border-radius: 0 6px 6px 0;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.timeline-events h2 {
    font-family: "Readex Pro", serif;
    font-style: normal;
    font-weight: 700;
    color: #ff4aab;
    font-size: 1.375rem;
    margin-bottom: 1.5rem;
}

.timeline-events h3 {
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 15px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    margin-bottom: 0.5rem;
}

.timeline-event-years-2, .timeline-event-years-2:before {
    width: 200px;
}

/*Phase 1*/
.timeline-events li:nth-child(2) {
    bottom: 16px;
}

.timeline-events li:nth-child(2):before {
    background: #ff4aab;
}

/*Phase 2*/
.timeline-events li:nth-child(3) {
    bottom: 32px;
}

.timeline-events li:nth-child(3):before {
    background: #ff4aab;
}

/*Phase 3*/
.timeline-events li:nth-child(4) {
    bottom: 48px;
}

.timeline-event-years-2-5, .timeline-event-years-2-5:before {
    width: 250px;
}

.timeline-events li:nth-child(4):before {
    background: #ff4aab;
}

.timeline-event-years-2-5, .timeline-event-years-2-5:before {
    width: 250px;
}

/*Phase 4*/
.timeline-events li:nth-child(5) {
    bottom: 64px;
}

.timeline-event-years-7, .timeline-event-years-7:before {
    width: 700px;
}

.timeline-events li:nth-child(5):before {
    background: #ff4aab;
    background-size: 100%;
    background-image: linear-gradient(90deg, #ff4aab 0, #1E2235);
    border-radius: 6px 0 0 6px;
}

@media (max-width: 1149px) {
    .timelines-years {
        left: -410px;
    }
}

@media (max-width: 1363px) {
    .timelines-years {
        left: -200px;
    }
}

.timelines-years {
    position: absolute;
    bottom: 0;
    padding: 0 0 0 200px;
    margin: 0;
    white-space: nowrap;
    border-top: 1px solid #282828;
    list-style: none;
    font-size: 0;
}

.timelines-years li {
    position: relative;
    top: -6px;
    display: inline-block;
    width: 200px;
    color: #868686;
    font-size: 11px;
    line-height: 11px;
    text-indent: -12px;
}

/*Roadmap End*/
section#mockup {
    background: url("../images/bg-footer.png");
    background-size: cover;
}

section#mockup h1 span.h1-outline {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.footer {
    font-family: "Readex Pro", sans-serif;

}

a.socmed-icon:hover {
    transform: scale(1.1);
}